@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
   background-color: #F9F9F9;
   font-family: 'Poppins', sans-serif;
}

.slider {
   background: url("../utils/slider.jpg") rgba(0, 0, 0, 0.7);
   background-blend-mode: darken;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   height: 100vh;
   
   margin-left: 400px;
   height: 600px;
   width: 1800px;
}


.h-slogan {
   padding-top: 100px;
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   font-size: 50px;
}

.h-mini {
   margin-top: -40px;
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   font-size: 20px;
}

input {
   margin-top: 50px;
   width: 40%;
   padding: 12px 24px;
   transition: transform 250ms ease-in-out;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   line-height: 18px;
   color: #ffffff;
   background-image: url("../utils/svg.png");
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-position: 95% center;
   border-radius: 50px;
   border: 1px solid #ffffff;
   transition: all 250ms ease-in-out;
   backface-visibility: hidden;
   transform-style: preserve-3d;
}

input::placeholder {
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}

input:hover,
input:focus {
   padding: 12px 0;
   outline: 0;
   border: 1px solid transparent;
   border-bottom: 1px solid #ffffff;
   border-radius: 0;
   background-position: 100% center;
}

.rating {
   padding-left: 67%;
   display: flex;
   flex-direction: row;
}

.label-rating {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   margin-top: 13px;
   margin-right: 10px;
}

.container-button {
   margin-left: 10%;
}

.button-home {
   margin-top: 15px;
   margin-right: 100%;
   width: 250px;
   font-size: 17px;
   font-family: 'Poppins', sans-serif;
   padding: 0.5em 2em;
   color: #ffffff;
   border-radius: 4px;
  }
  
  
  
  .button-home:active {
   transform: translate(0em, 0.2em);
  }


.grid-container {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr 2fr;
   width: 52%;
   margin: auto; 
   margin-top: 30px; 
}

.recomendations {
   padding-left: 24%;
   display: flex;
   align-items: center;
   flex-direction: row;
   
}

.h2-recomendation {
   font-size: 30px;
   margin-right: 5px;
   margin-bottom: -20px;
}

svg {
   margin-bottom: -45px;
   width: 30px;
   height: 30px;
   color: orangered;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: black;
   position: relative;
   margin-left:500px;
   height: 250px;
   width: 1600px;
}

.f-information {
   color: #ffffff;
   margin-left: 50px; 
   text-align: justify;
}

.copyright {
   color: #ffffff;
   margin-right: 50px;
}

h5 {
   margin-top: 30px;
   color: grey;
}
